.footer__column-links{
  margin-block-end: 0px;
  margin-block-start: 0px;
  padding-inline-start: 0px;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 16px;
  list-style: none;
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
}